*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #faf0e6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    border-radius: 5%;
    background: #db203f;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    color: black;
    box-shadow: 0 5px 10px rgba(9, 8, 8, 0.22);
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid rgb(238, 226, 226);
    box-shadow: 0 10px 60px rgba(17, 17, 14, 0.22);
}
.music-player h1{
    font-size: 29px;
    font-weight: 300;
    color: whitesmoke;
    margin-top: 20px;
}
.music-player p{
    font-size: 19px;
    font-weight: 200px;
    color: rgba(0, 0, 0, 0.814);
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #faf0e6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    box-shadow: 0 10px 10px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: black;
    color: white;
}
